In [1]:
import librosa
import pandas as pd
import numpy as np

# Note-frequency equivalence table

Create all note names

In [2]:
note_names = [np.array(["C", "C#", "D", "D#", "E", "F", "F#", "G", "G#", "A", "A#", "B"], 
                       dtype=object) + np.array(["{}".format(i)]*12) for i in range(9)]

In [3]:
note_names = np.reshape(note_names, (12*9))
note_names

array(['C0', 'C#0', 'D0', 'D#0', 'E0', 'F0', 'F#0', 'G0', 'G#0', 'A0',
       'A#0', 'B0', 'C1', 'C#1', 'D1', 'D#1', 'E1', 'F1', 'F#1', 'G1',
       'G#1', 'A1', 'A#1', 'B1', 'C2', 'C#2', 'D2', 'D#2', 'E2', 'F2',
       'F#2', 'G2', 'G#2', 'A2', 'A#2', 'B2', 'C3', 'C#3', 'D3', 'D#3',
       'E3', 'F3', 'F#3', 'G3', 'G#3', 'A3', 'A#3', 'B3', 'C4', 'C#4',
       'D4', 'D#4', 'E4', 'F4', 'F#4', 'G4', 'G#4', 'A4', 'A#4', 'B4',
       'C5', 'C#5', 'D5', 'D#5', 'E5', 'F5', 'F#5', 'G5', 'G#5', 'A5',
       'A#5', 'B5', 'C6', 'C#6', 'D6', 'D#6', 'E6', 'F6', 'F#6', 'G6',
       'G#6', 'A6', 'A#6', 'B6', 'C7', 'C#7', 'D7', 'D#7', 'E7', 'F7',
       'F#7', 'G7', 'G#7', 'A7', 'A#7', 'B7', 'C8', 'C#8', 'D8', 'D#8',
       'E8', 'F8', 'F#8', 'G8', 'G#8', 'A8', 'A#8', 'B8'], dtype=object)

Calculate their frequency

In [4]:
note_freqs = librosa.core.note_to_hz(note_names)

Save to tsv

In [5]:
note_table = pd.DataFrame({"Note": note_names, "Freq": note_freqs})

In [6]:
note_table.head()

  Note       Freq
0   C0  16.351598
1  C#0  17.323914
2   D0  18.354048
3  D#0  19.445436
4   E0  20.601722

In [7]:
note_table.to_csv("Note_table.tsv", index=False, sep="\t")